# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.prerender/
about/
packages/
faq/
privacy/
how-it-works/
media-partners/
partner-enquiry/
cookie-policy/
terms-of-service/
billboard-advertising-south-africa/
radio-advertising-south-africa/
tv-advertising-south-africa/
digital-advertising-south-africa/
newspaper-advertising-south-africa/
register/
login/
verify-email/
set-password/
start-campaign/
checkout/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
